@use "../variables.scss" as *;

.box_button {
  background-color: #f2c576;
  border: none;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 2rem;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 20rem;
  height: 20rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16);
  transition: all 0.6s ease;
  & h1 {
    margin-top: 2rem;
    font-family: "Arial", sans-serif;
    font-weight: 500;
  }

  &:hover {
    background-color: darkseagreen;
    transform: translateY(-5px);

    .box_image_container {
      transform: scale(165%) translateY(-20%);
    }
  }
  @media (max-width: $bp-medium) {
    width: 40rem;
    height: 20rem;
  }
}

.box_image_container {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
