.page_wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.form_container {
  background-color: #f6f1e5;
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 40rem;
  font-size: 1.6rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: bold;
  color: #473728;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.6rem;
  outline: none;
  transition: border 0.3s;
}

.input:focus {
  border-color: darkseagreen;
}

.inputError {
  border-color: #dc2626;
}

.button {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f2c576;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: darkseagreen;
}

.error {
  color: #dc2626;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.error_general {
  color: #dc2626;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
}

.register_text {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.4rem;

  a {
    color: #1d4ed8;
    text-decoration: underline;
  }
}
