.page_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2 / 10;
  grid-row: 2 / 6;
}

.form_container {
  background-color: #f6f1e5;
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 40rem;
  font-size: 1.6rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: bold;
  color: #473728;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40rem;
}

.input {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.6rem;
  outline: none;
  transition: border 0.3s;
}

.input:focus {
  border-color: darkseagreen;
}

.inputError {
  border-color: #dc2626;
}

.button {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f2c576;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: darkseagreen;
}

.error {
  color: #dc2626;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.error_general {
  color: #dc2626;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
}

.register_text {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.4rem;

  a {
    color: #1d4ed8;
    text-decoration: underline;
  }
}

.page_wrapper_v2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2 / 10;
  grid-row: 2 / 6;
}

.form_container_v2 {
  background-color: #f6f1e5;

  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 180rem;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  overflow: hidden;
  height: 50rem;
}

.rightside {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  grid-row: 1/3;

  .image_container {
    width: 100%;
    height: 100%;
    z-index: 0;

    .cover_image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0 */
      background: #ebcb8071;
      pointer-events: none;
    }
  }

  .logo_container {
    position: absolute;
    top: 55%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    z-index: 1;

    .logo_container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.leftside {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  grid-row: 1/3;
  flex-direction: column;

  h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #473728;
  }
}
