*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
  min-height: 100vh;
  @media (max-width: $bp-medium) {
    font-size: 50%;
    height: -webkit-fill-available; //test
  }
  @media (max-width: 85em) {
    //1260px ÷ 16px = 78.75em
    font-size: 55%;
    height: -webkit-fill-available; //test
  }
  @media (max-width: 75em) {
    font-size: 50%;
    height: -webkit-fill-available; //test
  }
}

body {
  background-image: url("../assets/bg-desktop-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
  min-height: -webkit-fill-available;
  @media (max-width: $bp-medium) {
    height: 100dvh;
    background: none;
    overflow-x: hidden;

    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      height: -webkit-fill-available;
      background: url("../assets/bg-mobile-6.png") no-repeat center center;
      background-size: cover;
      z-index: -2;
      transform: translateZ(0);
      will-change: transform;
    }

    &::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      height: -webkit-fill-available;
      background: url("../assets/bg-mobile-6.png") no-repeat center center;
      background-size: cover;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &.scrolling::after {
      opacity: 1;
    }
  }
}

//Just in case I need to use a container
// .container {
//   display: grid;
//   width: 100vw;
//   background-color: red;
//   min-height: 100vh;
//   grid-template-rows:
//     [full-start]minmax(2rem, 1fr)
//     [center-start] repeat(4, [row-start] minmax(15rem, 20rem) [row-end])
//     [center-end] minmax(2rem, 1fr)
//     [full-end];
//   grid-template-columns:
//     [full-start] minmax(6rem, 1fr)
//     [center-start] repeat(8, [col-start] minmax(8rem, 14rem) [col-end])
//     [center-end] minmax(6rem, 1fr) [full-end];

//   gap: 2rem;
//   @media (max-width: $bp-medium) {
//     grid-template-columns:
//       [full-start-mobile] minmax(3rem, 1fr) [center-star-mobile] minmax(
//         8rem,
//         50rem
//       )
//       [center-end-mobile] minmax(3rem, 1fr) [full-end-mobile];

//     grid-template-rows:
//       [full-start-mobile]minmax(2rem, 1fr)
//       [center-start-mobile] repeat(3, minmax(15rem, 20rem))
//       minmax(5rem, 10rem) repeat(7, minmax(15rem, 20rem))
//       [center-end-mobile] minmax(2rem, 1fr)
//       [full-end-mobile];
//   }
// }
